.text-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: greenyellow;
    padding-left: 20px;
    padding-right: 20px;
}
.done {
    text-decoration: line-through;
}